{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Главная</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <div class="container">
      <h1>Анализ числовых датасетов</h1>
      <div class="main__buttons">
        <a class="btn" href="{% url 'analyze' %}">Анализ датасета</a>
        <a class="btn" href="{% url 'upload' %}">Построение моделей</a>
        <a class="btn" href="{% url 'history' %}">История</a>
      </div>
    </div>
  </body>
</html>
